.events{
    height: 200px;
    margin-right: 2000px;
    display: grid;
}


.hero-2{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 4.5%;
    margin-right: -15%;
    height: 50vh;
    width:90vw;
    border-radius: 4px;
    box-shadow: 12px 12px 12px rgba(182, 182, 182, 0.24);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text4{
    display: flex;
    flex-direction: column;
    widows: 60%;
    margin-left: 1%;
}
.text5{
    font-family: "Ubuntu";
    font-weight: 350;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 3%;
}
.text6{
    font-family: "Ubuntu";
    font-weight: 350;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 1%;
    }
.box {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10%;
    margin-top: 1%;
    width: 90vw;
    margin-left: 4.5%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px  #010002 solid;
    border-radius: 15px;
        }
.titleDescription {
    font-family: "Century Gothic";
    font-weight: 300;
    font-size: 34px;
    margin-left: 40%;
        }

.eventcardSct {
    display: flex;
    width: 85vw;
    margin: 10px auto;
    margin-top: 3px;
    overflow: hidden;
    justify-content: space-evenly;
          }

.eventcard-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -7px;
    transition: 0.3s;
    animation: ease-in;
    border-radius: 6px;
}

.eventimage-container{
    overflow: hidden;
    height: 200px;
}

.eventcard-content{
    color: black;
    font-family: "Ubuntu";
    font-size: 13px;
    margin: 10px;
}

.eventcard-title{
    margin-bottom: 0.5rem;
}

.eventbutn{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-right: 0.4rem;
    overflow: hidden;

}

h3,
p {
  margin: 0;
  padding: 0;
}

.butn button {
    padding: 0.6rem;
    background-color: #64E1DC;
    border: none;
    transition: 0.6s;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
  }

.butn a {
    text-transform: uppercase;
    color:white ;
    font-weight: bold;
  }

  .box1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5%;
    margin-top: 10%;
    width: 90vw;
    margin-left: 4.5%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px  #010002 solid;
    border-radius: 15px;
        }

.titleDescription2{

font-family: "Century Gothic";
font-weight: 350;
font-size: 34px;
margin-left: 40%;
        }  

.eventbutn button{
    padding: 0.6rem;
    background-color: #64E1DC;
    border: none;
    transition: 0.6s;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;  
    font-family: "Century Gothic";
    font-weight: 350;
    font-size: 15px;
    
}

.eventbutn a {
    text-transform: uppercase;
    color:white ;
    font-weight: bold;
  }

.modal{

font-family: "Century Gothic";
font-weight: 350;
font-size: 14px;
margin-left: 40%;

}